.login_page {
}

.login_page header {
  display: grid;
  width: 100%;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .login_page header {
    grid-template-columns: 1fr;
  }
}

.login_page header .site_info {
  padding-top: 50px;
}

.login_page header .site_info .logo {
  font-size: 4rem;
  margin: 0;
  letter-spacing: 1.6px;
  font-weight: 800;
  color: skyblue;
}

.login_page header .site_info .menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.login_page header .site_info .menu a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1rem;
}

.login_page header .site_info .menu a:hover {
  text-decoration: underline;
}

.login_page header .site_info .menu a:first-child {
  margin-left: 6px;
}

.login_page main {
  display: grid;
  grid-template-columns: 300px auto;
}

@media (max-width: 768px) {
  .login_page main {
    grid-template-columns: 1fr;
  }
}

.login_page main aside {
  border: 2px dotted black;
  padding: 10px;
  margin: 10px;
  align-self: baseline;
  padding-bottom: 1rem;
}

.login_page main aside form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login_page main aside form div label {
  display: inline-block;
  margin-bottom: 10px;
}

.login_page main aside form div input {
  padding: 5px 8px;
  border: 1px solid;
  outline: 0;
}

.login_page main section {
  border: 5px double var(--primary-color);
  margin-top: 10px;
  margin-right: 10px;
  background: #fff;
}

.login_page main section h2 {
  color: #f0f0f0;
  background: var(--primary-color);
  padding: 10px;
  margin: 0;
}

.login_page main section h1 {
  text-align: center;
}

.login_page main section .content {
  padding: 12px;
}
