.post_page {
  background: #fff;
  border: 1px solid rgb(211, 211, 211);
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 2rem;
  height: 500px;
  overflow: hidden;
}

.post_page .post_details {
  display: flex;
  flex-direction: column;
}

.post_page .img_div {
  background-position: center;
  background-size: cover;
}

.post_page .post_details header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.post_page .post_details header > div {
  display: flex;
  align-items: center;
}

.post_details .body {
  min-height: 300px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
}

.post_page .post_details img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post_page .post_details a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  font-weight: 600;
}

.post_page .post_details a:hover {
  text-decoration: underline;
}

.post_details section {
  padding: 1rem;
}

.post_details section > div {
  display: grid;
  grid-template-columns: 10% 90%;
}

.post_details .pb {
  padding-left: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.post_details .pb p {
  font-size: 14px;
}

.post_details .pb a {
  margin-left: 0;
}

.post_details .footer {
  border-top: 1px solid rgb(206, 206, 206);
}

.post_details .footer .icons {
  display: flex;
  align-items: center;
}

.post_details .footer #icon {
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 10px;
}

.post_details .footer #icon:first-child {
  margin-left: 0;
}
.post_details .footer #icon:nth-child(2) {
  margin-top: -3px;
}

.post_details .footer .comment {
  display: block;
  margin-top: 10px;
}

.post_details .footer .comment input {
  width: 100%;
  padding: 8px 10px;
  border: 0;
  outline: 0;
  border: 2px solid #cacaca;
  border-radius: 2px;
}

.post_details .footer .comment input:focus {
  border-color: turquoise;
}
