:root {
  --primary-color: rgb(0, 149, 246);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1rem;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.main_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.custom_link {
  color: rgb(0, 149, 246);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.btn {
  padding: 5px 1rem;
  background-color: rgb(33, 130, 240);
  border: 0;
  outline: 0;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn.loading_btn {
  min-width: 100px;
}

.btn:hover {
  opacity: 0.8;
}

.success_msg {
  color: #f2f2f2;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 10px;
  background: #49e849;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.error_msg {
  color: #f2f2f2;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 10px;
  background: #d33d10;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.success_msg span {
  cursor: pointer;
}

/* medica queries */
@media (max-width: 768px) {
  .home_sidebar {
    display: none;
  }

  #side_bar_container {
    display: none;
  }
}
