.post_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.post_item_header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post_item_header div:first-child {
  display: flex;
  align-items: center;
}

.post_item_header div:first-child a {
  display: inline-block;
  margin-left: 9px;
  text-decoration: none;
  font-size: 14px;
}
